---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Explorer"
  description="An explorer for iphone vt support"
  image="/bag.png"
>
  <style slot="head">
    @view-transition {
      navigation: auto;
    }
  </style>
  <script is:inline slot="head">
    let out = [];
    addEventListener("pageswap", (e) => {
      if (!history.state) history.replaceState({ index: history.length }, "");
      const current = history.state.index;
      out.push(
        `pageswap: ${current} ${e.activation?.navigationType}  ${e.activation?.from?.index} -> ${e.activation?.entry?.index}`
      );
      out.push(` ${e.activation?.from?.url} -> ${e.activation?.entry?.url}`);
      out.push(e.viewTransition? e.viewTransition?.types?.size : "-");
      out.push(``);
      sessionStorage.setItem("vtbag-out", JSON.stringify(out));
    });
    addEventListener("pagereveal", (e) => {
      out = JSON.parse(sessionStorage.getItem("vtbag-out") ?? "[]");
      if (!history.state) history.replaceState({ index: history.length }, "");
      const current = history.state.index;
      out.push(`pagereveal: ${current}`);
      out.push(e.viewTransition? e.viewTransition?.types?.size : "-");
      out.push(Math.random().toString().slice(2,7));
      output.innerHTML = out.join("<br>");
      out = [];
      a.href = location.href;
      b.href = `/forge/test/explorer/?x=${Math.random()}`;
    });
  </script>
  <main>
    <h1>Explorer</h1>
    <p id="output"></p>
    <a id="a">Click</a><br>
    <a id="b">Click</a>
  </main>
</Layout>
