---
export interface Props {
  title: string;
  backlink: string;
}

const { title, backlink } = Astro.props;
const script =
  'const _=document.documentElement;_.dataset.theme=_.style.colorScheme=localStorage.getItem("starlight-theme")||(window.matchMedia("(prefers-color-scheme: dark)").matches? "dark":"light")';
---

<html lang="en">
  <head>
    <slot name="early-head" />
    <link href="/demo-explainer/styles.css" rel="stylesheet" />
    <script is:inline set:html={script} />
    <script is:inline src="/chamber.js/"/>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/bag3.png" type="image/png" />
    <slot name="late-head" />
  </head>
  <body>
    <h1>{title}</h1>
    <a
      id="back"
      href={backlink}
      >Back to the list of examples</a
    >
    <slot />
    <div id="vtbag-spacer" style="min-height:100vh"></div>
    <a
    id="back"
    href={backlink}
    >Back to the list of examples</a
  >
  </body>
</html>
