---
export interface Props {
  title: string;
  description: string;
  image: string;
  pageFindIgnore?: boolean;
  canonical?: string;
}
const {
  title,
  description,
  image,
  pageFindIgnore = false,
  canonical,
} = Astro.props;
const script =
  'const _=document.documentElement;_.dataset.theme=_.style.colorScheme=top.localStorage.getItem("starlight-theme")||(window.matchMedia("(prefers-color-scheme: dark)").matches? "dark":"light")';

const href = canonical ?? Astro.url.href;
---

<html lang="en" id="root">
  <head>
    <slot name="head" />
    <meta charset="UTF-8" />
    <title>{title + " | @vtbag"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href={href} />
		{
      (
        // @ts-ignore
        <link rel="expect" href="#root" blocking="render" />
      )
    }
    <script is:inline set:html={script} />
    <link rel="shortcut icon" href="/bag4.png" type="image/png" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={href} />
    <meta property="og:locale" content="en" />
    {
      description ? (
        <meta property="og:description" content={description} />
      ) : (
        ""
      )
    }
    <meta property="og:site_name" content="@vtbag" />
    <meta name="twitter:card" content="summary_large_image" />
    {description ? <meta name="description" content={description} /> : ""}
    {image ? <meta property="og:image" content={image} /> : ""}
    <slot name="head2" />
  </head>
  <body data-pagefind-body={!pageFindIgnore}>
    <slot />
  </body>
</html>
